/* appearance */
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8c129;
}

.login-title {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pin-input {
  padding: 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  width: 200px;
}

.login-button {
  padding: 0.75rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #ffcc00;
}

.login-button:hover {
  background-color: #ffdb4d;
}
